/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
    background: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    margin-top: 10px;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ff6600;
}

/* Sections */
.section {
    padding: 50px 20px;
}

/* Profile Section */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
}

/* Project Section */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

.project-card a {
    display: block;
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
    transition: color 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.project-card a:hover {
    color: #ff6600;
}

/* Skills Section */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills-container img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.skills-container img:hover {
    transform: scale(1.1);
}

/* Contact Section */
#contact a {
    color: #ff6600;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
